html, body{
	margin:0;
	padding:0;
	height: 100%;
}

.p{
	font-family: 'Poiret One', cursive;
}

.bree{
	font-family: 'Bree Serif', serif;
	font-size: 24px;
}

.carousel{
	width:100%;
	height:100%;
	margin:0;
}

.item1{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.contentBar{
	width:100%;
	height: 300px;
	background-color: #ffffff;
	opacity: 0.5;
	margin-top: 15%;
	position: absolute;
}

.header1{
	text-align:centre;
	color:#ffffff;
	position: absolute;
	margin-top:18%;
	margin-left: 43%;
	padding-bottom:5%;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

.paraConcept{
	width: 600px;
	height: 250px;
	font-size: 11px;
	color: #f6f6f6;
	text-align:center;
	margin-top:24%;
	margin-left: 28%;
	padding-right: 40px;
	position:absolute;
	font-family: 'Poiret One', cursive;
}

.item2{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item3{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item4{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.gpsText img{
	width:100px;
	height:100px;
	position:absolute;
	margin-left:-25px;
}

.gpsText p{
	height:110px;
	width:370px;
	position:relative;
	margin-left: 80px;
	margin-right: 80px;
	font-size:11px;
	font-family: 'Poiret One', cursive;
	background-color: rgba(255, 255, 255, 0.5);
	
}

.gpsText{
	height:130px;
	position:relative;
	margin-top: 2%;
	margin-left: 8%;
}

.gyroText img{
	width:100px;
	height:100px;
	position:absolute;
	margin-left:-25px;
}

.gyroText p{
	height:110px;
	width:370px;
/*	position:relative;*/
	margin-right: 80px;
	margin-left: 80px;
	font-size:11px;
	font-family: 'Poiret One', cursive;
	background-color: rgba(255, 255, 255, 0.5);

}

.gyroText{
	height:130px;
	margin-top: 2%;
	position:relative;
	margin-left: 6%;
}

.arText img{
	width:100px;
	height:100px;
	position:absolute;
	margin-left:-25px;
}

.arText p{
	height:110px;
	width:370px;
/*	position:relative;
*/	margin-left: 80px;
	margin-right: 80px;
	font-size:11px;
	font-family: 'Poiret One', cursive;
	background-color: rgba(255, 255, 255, 0.5);
}

.arText{
	height:130px;
/*	position:relative;*/
	margin-left: 30%;
	margin-top: 6%;
}

.senseHead{
	margin-left: 9%;
	font-family: 'Bree Serif', serif;
	color:#ffffff;
}

.sensors{
	margin-left: 40%;
	margin-top: 6%;
    font-family: 'Kaushan Script', cursive;
    font-size: 47px;
    color:#ffffff;
}

.item5{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.comp{
	height:430px;
	background-color:rgba(255, 255, 255, 0.7);
	margin: 20px;
}

.tablet{
	height:430px;
	background-color:rgba(255, 255, 255, 0.7);
	margin: 20px;
}

.phone{
	height:430px;
	background-color:rgba(255, 255, 255, 0.7);
	margin: 20px;
}

.deviceContain{
	margin-left: 13%;
	margin-top: 4%;
}

.tablet img{
	height: 50px;
	width: 42px;
	position:absolute;
	margin-top:5px;
}

.phone img{
	height: 50px;
	width: 35px;
	position:absolute;
	margin-top:5px;
}

.comp img{
	height: 50px;
	width: 62px;
	position:absolute;
	margin-top:5px;
	margin-left:-5px;
}

.deviceHead{
	position:relative;
	margin-left:60px;
	font-size: 20px;
	font-family: 'Bree Serif', serif;
}

.deviceContain p{
	font-size: 12px;
	margin-left:5px;
	margin-top:25px;
	font-family: 'Poiret One', cursive;
}

.DevPriHead {
	font-size:35px;
	margin-top:5%;
	text-align:center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	color:#ffffff;
}

.item6{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.appPlan{
	height: 480px;
	width: 700px;
	margin-left: 20%;
	margin-top: 5%;
}

.appPlan2{
	height: 480px;
	width: 700px;
	margin-left: 20%;
	margin-top: 1%;
}

.appHeader{
	color:#ffffff;
	margin-top:2%;
	text-align:center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

.appHeader2{
	color:#ffffff;
	margin-top:4%;
	text-align:center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

.item7{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.futureHeader{
	text-align:center;
	color:#ffffff;
	position: absolute;
	margin-top:18%;
	padding-bottom:5%;
	margin-left: 38%;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
}

.item8{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item9{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item10{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item11{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item12{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.item13{
	background-image: url("../img/1.jpg");
	width:100%;
	height:100%;
}

.splash{
	background-image: url("../img/TePapa.jpg");
	width:100%;
	height:100%;
	margin-top:0px;
}

.needsText p{
	color:#ffffff;
	font-size: 11px;
	position:relative;
	margin-left:50px;
	font-family: 'Poiret One', cursive;
}

.needsText h3{
	color:#ffffff;
	font-size: 16px;
}

.needsText img{
	height:50px;
	width:50px;
	position:absolute;
}

.points{
	margin-top: 3%;
	margin-left: 3%;
}

.logo{
	margin-left:30%;
	margin-top: 5%;
	width: 40%;
	width: 40%;
}
/*.background{
	height:100%;
	width: 1300px;
}*/

.userNeeds{
	margin-left: 3%;
	margin-top:6%;
	font-family: 'Kaushan Script', cursive;
	font-size: 45px;
	text-align:center;
	color:#ffffff;
}

.techContainer{
	height:400px;
	margin-left:12%;
	margin-top:4%;
	position:relative;
	background-color:#ffffff;
	opacity:0.5;
	font-size:13px;
}

.techImage1{
	margin-top:20%;
	margin-left:3%;
 	position:absolute;
	height:195px;
	width:195px;
}

.techImage2{
	height:195px;
	width:195px;
	position:relative;
	margin-top:4%;
	margin-left:3%;
}

.techHead{
	margin-top:6%;
	margin-left: 33%;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	color:#ffffff;
}

.techContain{
	height:400px;
	position:absolute;
}

.techText{
	color:#000000;
	padding-top: 7%;
	font-family: 'Poiret One', cursive;
}


@media all and (max-width: 800px) {
	/*Woo a media query*/
	body{
		margin:0;
	}
 	
 	.logo{
 		height: 300px;
 		width: 300px;
 		margin-left:28%;
 		margin-top:20%;
 	}
 	
 	.contentBar{
 		margin-top:25%;
 	}
 	
 	.header1{
 		margin-top:27%;
 		text-align:centre;
 		font-size:30px;
 		padding-top:2%;
 	}
 	
 	.paraConcept{
 		margin-left:28%;
 		width: 410px;
 		height:350px;
 		margin-top: 35%;
 		padding-top:0%;
 	}
 	
 	.futureHeader{
		font-size: 35px;
		margin-left:20%;
		margin-top: 28%;
	}
 	
 	.needsText{
		width: 320px;
	}
	
	.needsText p{
		font-size: 10px;
	}
	
	.techContainer{
		height:310px;
	}
	
	.techContainer p{
		font-size: 11px;
	}
	
	.techImage1{
		position:relative;
		height: 150px;
		width: 150px;
		margin-top:0%;
		margin-left:30%;
	}

	.techImage2{
		position:relative;
		height:150px;
		width:150px;
		margin-top:0%;
		
	}
	
	.gpsText img{
	width:80px;
	height:80px;
	position:absolute;
}

.gpsText p{
	height:100px;
	width:370px;
	position:relative;
	margin-left: 60px;
	margin-right: 60px;
	font-size:10px;
}

.gpsText{
	height:130px;
	position:relative;
	margin-top: 2%;
	margin-left: 8%;
	
}

.gyroText img{
	width:80px;
	height:80px;
	position:absolute;
}

.gyroText p{
	height:100px;
	width:370px;
/*	position:relative;*/
	margin-left: 60px;
	margin-right: 60px;
	font-size:10px;
}

.gyroText{
	height:130px;
	margin-top: 2%;
	margin-left: 8%;
}

.arText img{
	width:80px;
	height:80px;
	position:absolute;
}

.arText p{
	height:100px;
	width:370px;
/*	position:relative;
*/	margin-left: 60px;
	margin-right: 60px;
	font-size:10px;
}

.arText{
	height:130px;
/*	position:relative;*/
	margin-left: 8%;
	margin-top: 2%;
}

.senseHead{
	margin-left: 9%;
	font-size:22px;
}

.sensors{
	margin-left: 40%;
	margin-top: 6%;
}

.comp{
	height:160px;
	margin: 10px;
}

.tablet{
	height:160px;
	margin: 10px;
}

.phone{
	height:160px;
	margin: 10px;
}

.tablet img{
	height: 50px;
	width: 42px;
	position:absolute;
	margin-top:5px;
}

.phone img{
	height: 50px;
	width: 35px;
	position:absolute;
	margin-top:5px;
}

.comp img{
	height: 40px;
	width: 49px;
	position:absolute;
	margin-top:5px;
	margin-left:-5px;
}

.deviceHead{
	position:relative;
	margin-left:50px;
	font-size: 17px;
}

.deviceContain p{
	font-size: 11px;
	margin-left:5px;
	margin-top:20px;
}

.DevPriHead {
	font-size:25px;
	margin-top: 8%;
}

.appPlan{
	height: 400px;
	width: 550px;
	margin-left: 13%;
	margin-top: 2%;
}

.appHeader{
	color:#ffffff;
	margin-top:7%;
	text-align:center;
	font-size: 30px;
}

.appPlan2{
	height: 400px;
	width: 550px;
	margin-left: 13%;
	margin-top: 2%;
}

.appHeader2{
	color:#ffffff;
	margin-top:7%;
	text-align:center;
	font-size: 30px;
}
	
 @media all and (max-width: 500px) {
 
 	body{
 		margin:0;
 	}
	/*Woo a media query*/
 	.logo{
 		height: 250px;
 		width: 250px;
 		margin-left:20%;
 		margin-top:40%;
 	}
 	
	.contentBar{
 		margin-top:40%;
 	}
 	
 	.header1{
 		margin-top:45%;
 		font-size:25px;
 		text-align:centre;
 		margin-left: 35%;
 	}
 	
 	.paraConcept{
 		margin-left:16%;
 		width: 310px;
 		height:420px;
 		margin-top: 57%;
 		font-size:9px;
 	}
 	
 	.needsText p{
		color:#ffffff;
		font-size: 8px;
	}

	.needsText h3{
		color:#ffffff;
		font-size: 11px;
	}
	
	.needsText{
		width: 400px;
	}
	
 	.needsText img{
		height:40px;
		width:40px;
	}
	
	.userNeeds{
		font-size: 30px;
		margin-top: 10%;
		margin-left:4%;
	}
	
	.techImage1{
		height:120px;
		width:120px;
		margin-left:80px;
		margin-top:10px;
	}

	.techImage2{
		height:120px;
		width:120px;
		margin-left:5px;
		margin-top:10px;
		
	}
	
	.techHead{
		font-size:30px;
		margin-left: 27%;
		margin-top: 10%;
	}
	

.gpsText p{
	height:120px;
	width:280px;
	font-size:7px;
}

.gpsText{
	height:130px;
	position:relative;
	margin-top: 2%;
	margin-left: 8%;
	
}

.gyroText p{
	height:120px;
	width:280px;
	font-size:7px;
}

.gyroText{
	height:130px;
	margin-top: 2%;
	margin-left: 8%;
}

.arText p{
	height:120px;
	width:280px;
	font-size:7px;
}

.arText{
	height:130px;
/*	position:relative;*/
	margin-left: 8%;
	margin-top: 2%;
}

.senseHead{
	margin-left: 9%;
	font-size:18px;
}

.sensors{
	margin-left: 40%;
	margin-top: 10%;
	font-size: 29px;
}

.deviceContain p{
	font-size: 9px;
}

.appHeader{
	color:#ffffff;
	margin-top:11%;
	text-align:center;
	font-size: 23px;
}

.appPlan{
	height: 220px;
	width: 330px;
	margin-left: 10%;
	margin-top: 20%;
}

.appHeader2{
	color:#ffffff;
	margin-top:11%;
	text-align:center;
	font-size: 23px;
}

.appPlan2{
	height: 220px;
	width: 330px;
	margin-left: 10%;
	margin-top: 20%;
}
.arText p{
	height:70px;
}

.gyroText p{
	height:70px;
}

.gpsText p{
	height:70px;
}

.bree{
	font-size:23px;
}
}